@font-face {
  font-family: "iconfont"; /* Project id 3555475 */
  src: url('iconfont.woff2?t=1662448688578') format('woff2'),
       url('iconfont.woff?t=1662448688578') format('woff'),
       url('iconfont.ttf?t=1662448688578') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-label:before {
  content: "\e602";
}

.icon-jia:before {
  content: "\e8e1";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-diyufenbu:before {
  content: "\e720";
}

.icon-quanxian:before {
  content: "\e656";
}

.icon-dongtaiguanli:before {
  content: "\e782";
}

.icon-gerenxinxi:before {
  content: "\e62c";
}

.icon-anquan:before {
  content: "\e637";
}

.icon-touxiang:before {
  content: "\e65f";
}

.icon-airudiantubiaohuizhi-zhuanqu_zixundongtai:before {
  content: "\e69d";
}

.icon-zhuce:before {
  content: "\e6d6";
}

.icon-biaoqing:before {
  content: "\e614";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-at:before {
  content: "\e81e";
}

.icon-huati:before {
  content: "\e784";
}

.icon-emizhifeiji:before {
  content: "\e61c";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-31zhuanfa:before {
  content: "\e601";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-chakantiezihuifu:before {
  content: "\e663";
}

.icon-yanzheng:before {
  content: "\e63d";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-xitong:before {
  content: "\e62d";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

